beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
lxml==4.8.0
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
soupsieve==2.3.2.post1
wikipedia==1.4.0
torch==1.10.2
typing_extensions==4.1.1
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
datasets==1.18.3
dill==0.3.4
filelock==3.4.1
frozenlist==1.2.0
fsspec==2022.1.0
huggingface-hub==0.4.0
idna-ssl==1.1.0
importlib-metadata==4.8.3
multidict==5.2.0
multiprocess==0.70.12.2
packaging==21.3
pyarrow==6.0.1
pyparsing==3.0.7
PyYAML==6.0
tqdm==4.62.3
urllib3==1.26.8
xxhash==2.0.2
yarl==1.7.2
zipp==3.6.0
click==8.0.3
joblib==1.1.0
regex==2022.1.18
sacremoses==0.0.47
tokenizers==0.11.5
transformers==4.16.2
absl-py==1.0.0
nltk==3.6.7
rouge-score==0.0.4
typing-extensions==4.1.1